body {
	padding:0px;
	margin:0px;
}

	.header { 
	overflow:hidden;                          
	font: 24px tahoma, sans-serif; 
	background-color:#b2e7ff;
	text-align:center;
  border-bottom:2px solid #0ab1ff;
	}

.footer { 
	overflow:hidden;
	font: 24px tahoma, sans-serif;
	background-color:#3cff78;
	width:1000px;
	text-align:center;
	border-bottom:2px solid #0ab1ff;
	}

.container { 
	width:1000px;
}

div#left { 
	display: table-cell;
	width:230px;
	padding: 25px 10px;
	background-color:#0ab1ff;
	}

#LeftHeader {
	font: 18px tahoma, sans-serif;
}

#LeftList {
	padding-left:20px;
	padding-right:0px;
	list-style-type: disc;
	color: white;
	}

#LeftList li a{
	font: 14px tahoma, sans-serif;
	color:white;
	}

li { 
	padding-top:8px;
	padding-bottom:8px;
	}	

a { text-decoration:none; }

#LeftPara {
	font: 12px tahoma, sans-serif;
	}

div#right {
	display: table-cell;
	height: 100%;
	margin:0px;
	padding:20px;
	background-color:#ededed;
	width:710px;
	}

#RightHeader {
	font: 24px tahoma, sans-serif;
	}

#RightPara {
	font: 14px tahoma, sans-serif;
	color:#802525;
	}
