.bold {
  font-weight: bold;
}

#finalPage {
  margin-left: 20px;
}

.color {
  color: brown;
}

.displayAnswer {
  margin-left: 20px;
}

#questionSection {
  margin-bottom: 30px;
  margin-left: 20px;
}

#instructions {
  width: 400px;
}

#next {
  margin-left: 100px;
}

.header {
  background-color: #999999;
  padding: 10px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

#submit {
  margin-left: 20px;
}

#startAgain {
  margin-left: 20px;
}

.floatLeft {
  float: left;
}

.hidden {
  display: none;
}

ol {
  overflow: hidden;
}

#answer {
  width: 55px;
}

#countDown {
  font-size: 40px;
  padding-bottom: 50px;
  height: 20px;
  margin-left: 40px;
}

#questionContainer {
  margin-bottom: 20px;
}

#score {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}