.invalidInput {
  border: 2px solid red;
}

.red {
  color: red;
}

#mob_search {
  border-radius: 20px;
  height: 20px;  
  width: 200px;
  font-size: 18px;
}

#list_view {
  /*padding: 10px;*/
  text-align: center;
}

#list_table {
  /*display: inline-block;*/
  margin: 0px auto;
}

#search {
  padding: 30px;
  background-color: #c0362c;
  text-align: center;
}

#button_container {
  text-align: center; 
}

#button {
  padding-top: 30px;
  display: inline-block;
}

.hidden {
  display: none;
}

#display_employee {
  overflow: hidden;
}

#grid_container {
  padding: 20px;
}

#grid_view {
  width: 1000px;
  font-size: 15px;
  overflow: hidden;
  margin: 0px auto;
}

.grid_emp_detail {
  padding: 0px;
  margin: 0px;
}

.grid_emp {
  float: left;
  margin: 10px;
  background-color: #2cabe2;
  width: 17%;
  height: 100px;
}

.selected {
  background-color: red !important;
}

#list_table {
  width: 65%;  
  text-align: center;
}
.remove_list_record {
  cursor: pointer;
  color: red;
}

#form input {
  margin-bottom: 10px;
}

#search p {
  margin: 0px;
  /*font-weight: bold;*/
}

.remove_grid {
  display: inline-block;
  float: right;
  background-color: red;
  cursor: pointer;
}

.button {
  background-color: #666666;
  width: 80px;
  height: 30px;
}

.highlight {
  background-color: yellow !important;
}

#form {
  padding: 30px;
}